.box{
    margin: 0 auto;
    margin-top: 200px;
    background-color: black;
    padding: 50px 50px;
    width: 1600px;
    height: auto;
    border-radius: 10px;
    opacity: 0.75;
}
.bottom{
    margin: 0 auto;
    margin-top: 1px;
    background-color: black;
    padding: 50px 50px;
    width: 1600px;
    height: auto;
    border-radius: 10px;
    opacity: 0.75;
}
.li{
    display: inline-block;
}
.lia{
    background: #fff;
    border-colr: #30A5DA;
    color: #000000;
    cursor: default;
    padding: 4px 10px;
    border: 1px solid #c5b7b7;
    margin: 0 3px;
    text-decoration: none
}
.Mid{
    display: flex;
    justify-content: space-around;
}
.a{
    color: white;
    display: flex;
    justify-content: space-around;
}
.box button{
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    height: 121px;
    width: 100%;
    border-radius: 10px;
    font-size: 40px;
    font-family: 楷体;
    font-weight: bolder;
}
.box button:hover{
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
